<table class="table">
    <tbody>
    <tr>
        <td>爱好：瞎折腾浪费时间最在行 </td>
        <td>梦想职业：攻城狮</td>
    </tr>
    <tr>
        <td colspan="2">自我说明：会去自学自己感兴趣的一切东西，爱好折腾去解决一切问题，人生这条路我才刚刚迈开了我的第一步</td>
    </tr>
    <tr>
        <td colspan="2">
            <p>个人介绍: 一个不喜欢主动的人，虽然灵魂有趣但不爱表达，还死倔，还慢热。遇到懂我的人是幸运，遇不到是正常的。慢热，沉默，喜欢独处。三观正，比你想象的深情，也比你以为的冷漠。</p>
        </td>
    </tr>
    </tbody>
</table>