<link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for('/css/detail/tag.css') %>">
<%- partial('_partial/bg-cover') %>

<main class="content">

    <%- partial('_widget/tag-cloud') %>

</main>
